*.py[cod]

# C extensions
*.so

# Packages
*.egg
*.egg-info
dist
build
eggs
parts
bin
var
sdist
develop-eggs
.installed.cfg
lib
lib64

# Installer logs
pip-log.txt

# Unit test / coverage reports
.coverage
.tox
nosetests.xml

# Translations
*.mo

# Mr Developer
.mr.developer.cfg
.project
.pydevproject
.DS_Store

/venv/

/v2ex_backup/*.html
/vps_scan/*.html
h3/cert.pem
h3/key.pem
h3/localhost.p12
h3/udp4433.log
py3-tls/server.crt
py3-tls/server.key

py3-tls/_ssl.
suexec/suexec
py3-tls/_ssl.c
audio-editor
