<html>
<head>
<title>-=[ TOOLZ ]=-</title>
<style>
<!--
body { font-family: Helctiva, Tahoma; }
h3 { margin: 0 0 0 0; }
a { text-decoration: none; }
a:hover { text-decoration: underline; }
.footer { font-size: 0.8em; color: gray; text-align: center; }

-->
</style>
</head>
<body>
  <h1>testing toolz - t.est.im</h1>
  <p>Looking for the right tool in Google is always PITA, so I knock out my own.<br />
  This is also a lab testground for fun and profit.<br />
  Note: you can always add <code>.json .jsonp .gif .png .txt .html</code> at the end of the URL as suffix</p>
  <hr />
  <h2>IP Tools</h2>
  <ul>
    <li><a href="ip" title="SImplistic IP display">IP address</a></li>
    <li><a href="ipx" title="Using comprehensive technology to show the client's IP and geoinfo">more on IP address</a> reveal proxy chains and real IP behind tunnels. jsonp from portal websites, Flash socket/http, applet, WMP or any other stuff</li>
    <li>DNS iterator with some DNSSec and DNSCurve</li>
    <li>domain check all of TLD and archive record history</li>
    <li>geolocation from multiple sources</li>
  </ul>
  
  <h2>HTTP/SSL tools</h2>
  <ul>
    <li><a href="ua">user-agent</a></li>
    <li><a href="headers">headers</a> echo HTTP client request</li>
    <li><a href="client">client info</a></li>
    <li>SSL archiver lookup historical fingerprint and certs, embed images.</li>
    <li>SSH/VPN fingerprint archiver</li>
    <li>proxy and ssh (cpanel, bbs) validator</li>
  </ul>
  
  <h2>Web tools</h2>
  <ul>
    <li><a href="encoder" title="encoding in javascript and HTML entites">multi encoder</a></li>
    <li><a href="noref" title="no-referer to hotlink images and stuff">No-Referer</a></li>
    <li><a href="repipe">Repipe</a> Yahoo Pipes redone in RegExp</li>
    <li><a href="embedly">ReEmbeddly</a> embed.ly redone in RegExp</li>
    <li>Hang info in DOM tree and represent them in Javascript to avoid spam and censorship</li>
    <li>render jekll, jinja2 make ReST and all kinds of templates shit</li>
    <li>Cloud IME query interface</li>
    <li>iTunes direct download tool</li>
    <li>iOS/Android/every other fucking marcket direct download tool</li>
    <li>Microsoft.com direct download tool</li>
  </ul>
  
  <h2>Data tools</h2>
  <ul>
    <li><a href="hash" title="hash a file, blob, string, or URL content">Multi Hash Tool</a> including md5, md4, ed2k, CRC32, bcrypt</li>
  </ul>
  
  <h2>Image Tools</h2>
  <ul>
    <li><a href="Rotate">Rotate an image</a> and resize and stuff</li>
    <li>EXIF</li>
    <li>Add watermark</li>
    <li>Photoshop detection</li>
  </ul>
  
  <h2>Software/Gaming Tools</h2>
  <ul>
    <li>Game essential registry lookup</li>
    <li></li>
  </ul>
  
  <h2>Meta</h2>
  <ul>
    <li><a href="admin">Admin</a></li>
    <li><a href="console">REPL console for testing APIs</a></li>
    <li>
      <h3>ToDo Pool (FIFO & appending)</h3>
      <ul>
        <li><span title="CTIME:2010-02-15 21:25, MTIME:2010-02-15 21:27">&#x2611;&#x2000;Landing page template, www structure and git repo</span></li>
        <li><span title="CTIME:2010-02-16">&#x2612;&#x2000;Youtube get flv</span></li>
        <li><span title="CTIME:2010-02-15">&#x2610;&#x2000;Comments? Comments for this page?</span></li>
        <li><span title="CTIME:2010-02-16">&#x2610;&#x2000;Thunder, Flashget URL resolve? 115 resolve? To tacky to implement? lol</span></li>
      </ul>
    </li>
  </ul>
  
  
  
  
  <div class="footer">By-SA (CC) 2011<br />
  revision 5, <a href=""http://t.est.im>t.est.im</a></div>
</body>
</html>